# Environnement virtuel
venv/
.env

# Fichiers Python compilés
__pycache__/
*.pyc

# Binaires et logs
qdrant
qdrant.log
storage/
.qdrant-initialized

# Archives
*.tar.gz

# Fichiers de configuration locaux
.vscode/
.idea/

# Docker (optionnel)
docker-compose.yml
